.cars{
    margin-left: 2em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

 
.descricao{
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
} 

.btn-primary, .btn-success{
    margin-right: 1em;
    margin-bottom: 1em;
}